<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>

        <div class="contenido">

            <h2>Nuestros artículos</h2>

            <div th:if="${articulos != null and !articulos.empty}">

                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Detalle</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${articulo.detalle}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}"></td>
                            <td th:text="${articulo.existencias}"></td>
                            <td th:text="${articulo.activo}"></td>
                            <td><a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}">Modificar</a></td>
                            <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}">Eliminar</a></td>
                        </tr>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div th:if="${articulos == null or articulos.empty}">
                <h3>No exite una lista de articulos que mostrar...</h3>
            </div>

        </div>

        <footer th:replace="layout/plantilla :: footer"></footer>

    </body>
</html>
