<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">TechShop</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggle-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-menu-item">
                                <a th:href="@{/cliente/listado}" class="nav-menu-link nav-link"
                                   th:text="#{plantilla.clientes}">
                                </a>
                            </li>
                            <li class="nav-menu-item">
                                <a th:href="@{/categoria/listado}" class="nav-menu-link nav-link"
                                   th:text="#{plantilla.categorias}">
                                </a>
                            </li>
                            <li class="nav-menu-item">
                                <a th:href="@{/articulo/listado}" class="nav-menu-link nav-link"
                                   th:text="#{plantilla.articulos}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <footer th:fragment="footer">
            <p>&COPY [[#{plantilla.derechos}]]
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a>
            </p>
        </footer>

    </body>
</html>
