<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>

        <h2>Datos de la Categoria</h2>

        <a th:href="@{/}">Regresar</a>

        <form th:action="@{/guardarCategoria}"
              method="post"
              th:object="${categoria}">
            <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>

            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br/>
            <label for="activo">Activo:</label>
            <input type="text" name="activo" th:field="*{activo}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/> 
        </form>

        <footer th:replace="layout/plantilla :: footer"></footer>

    </body>
</html>
